    
      <div class="" id="home">
        <div class="">
           <div class=""><img src="public/img/IMG_20201229_204025_397.jpg" class="home-band-image">
           </div>
        <div class="skewed">
          <h5 style="color:white;font-size: 1.5em;">Howdy! I'm</h5>
          <div><span style="color:yellowgreen ;font-size: 2.5em;">Marsden Madoka</span></div>
          <h4 style="color:white;font-size: 1.5em;">Web and Android Developer</h4>
         <a href="#contact"> <button class="btn">Contact Me</button></a>
        </div>
          </div>
  
     <section class="content-section">
       <h2 class="section-header" id="about">About me</h2>
       <div class="content">
            <p style="margin-left:20%;" class="col-md-9">Hi,I,m Marsden Madoka,I am a Software Developer from Mombasa Kenya.
            I strive to build immersive beautiful web appliations and android applications through crafted code.Fueled by energy levels and high boundless enthusiasm,I'm easily inspired and more than willing to follow my fascinations wherever they take me.My abundant energy fuels me in the pursuit of many intrest and endeavours.I'am a fast learner,who is able to pick up new skills and judge different projects and roles with relative ease.</p>
           </div>
        </section>

<div class="col-12 skew" style="padding-top: 5%;">
        <div><h3 class="col-12 size-enlarge2"style="color:white;text-align:center;font-size: 2.5em;">My Prowess</h3></div>
        <div class="row">
          <div class="col-md-5 img-container-4 size-enlarge2"><img src="public/img/skill.png" alt=""></div>
        <div class="col-md-5">
          <div><p style="color:#f8f40f; text-align: center;font-size: 1.5em">Skills</p></div>
          <div style="color: #eee;">The main area of my expertise is Web and Android development. HTML, CSS, JAVASCRIPT,REACT,NODEJS, GIT/GITHUB, JAVA,KOTLIN. </div>
          <a href="https://drive.google.com/file/d/1tKITxBDa6MDF9RhjgU3VhIgFJSANQcRf/view?usp=sharing"> <button class="btn">Get My Resume</button></a>
        </div>
        </div>
</div>

<div style="border-top: solid 1px #eee;border-bottom:solid 1px rgb(97, 216, 18); padding-bottom:1em;background-color: aqua;padding:20px;width:auto;height:auto;" >
    <div class="col-12 xs-12" id="projects">  
 <h3 style="font-weight: normal;color: #333;text-align: center;font-size: 2.0em;">Projects I've worked on</h3>   
</div>

 <div class="skewed-2">
          <div class="size-enlarge">
              <span><a href="https://rhodaqueuesystem.herokuapp.com" class="img-container-3"><img src="public/img/Screenshot_2020-12-25 Express.png" alt=""></a></span>
          </div>
          <div class="size-enlarge">
            <span><a href="https://reactfirebaseapp-ae65a.web.app" class="img-container-3 "><img src="public/img/Screenshot_2020-12-25 React App.png" alt=""></a></span>
        </div>
        <div class="size-enlarge">
          <span><a href="https://github.com/marsdenmadoka" class="img-container-3"><img src="public/img/Screenshot_2020-12-26 marsdenmadoka - Overview.png" alt=""></a></span>
      </div>
    
      </div>
</div>

